<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <form [formGroup]="userForms">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="username" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="useremail" matInput  placeholder="Email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input formControlName="useRole" matInput  placeholder="Role">
          </mat-form-field>
          
    </form>
     
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close
    </button>
    <button mat-raised-button color="primary" (click)="addUser()">{{actionBtn}}</button>

</div>